/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

.logo{
    text-align: center;
}

.menu {
    padding: 1%;
    box-shadow: 0px 15px 20px 0px black;
    border-radius: 150px;
    background: linear-gradient(rgb(44, 152, 253),white,white);
}


nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-weight: bold;
    font-size: large;
}
a.logo{
    width: fit-content;
    text-align: center;
    margin-left: 45%;
}


nav li a:hover{
    color: red;
    text-shadow: 5px 5px 10px  black;
}

h1.titre{
    margin-top: 5%;
    text-align: center;
    text-decoration: underline;
}

.conteneur{
    text-align: center;
    box-shadow: inset 5px 5px 80px 0px black;
}


contenu table {
    width: 100%;
    margin-top: 5%;
    text-align: center;
}


contenu td.info {
    width: 50%;
}

contenu td.info div{
    width: 100%;
    height: 374px;
    background-image: url("./informatique.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 75px 100px white;
}


footer {
    padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    background: linear-gradient(white,rgb(44, 152, 253),rgb(44, 152, 253));
}
footer .droite{
    text-align: right;
    width: 100%;
}

footer table{
    width: 100%;
}

footer td.coordonnee img{
    width: 1.5%;
}
footer td.coordonnee{
    width: 50%;
}

footer td.logo{
    width: fit-content;
}

footer td.contact{
    padding: auto;
}

footer a.foot{
    font-size: 2em;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 20px 0px black;
    padding: 10px 10px;
    border-radius: 10px;
}
footer a:hover.foot{
    box-shadow: inset 0px 0px 15px 0px black;
}

footer a.tel{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}

footer a:hover{
    color: red;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-instagram {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #3B5998;
    color: white;
  }

  @media screen and (max-width: 700px) and (min-width: 350px){
   
    a.logo{
        text-align: justify;
        margin-left: 25%;
    }
    
    footer td.contact{
        width: 25%;
        font-size: 0.4em;
    }
  
    .fa {
        padding: 10px;
        width: 12px;
        text-align: center;
        text-decoration: none;
        border-radius: 30%;
        font-size: small;
      }
  }

  @media screen and (max-width: 350px) {
  
    td.coordonnee p,td.coordonnee b{
        font-size: small;
    }

    a.logo{
        text-align: justify;
        margin-left: 20%;
    }
  
    footer td.contact{
        width: 25%;
        font-size: 0.32em;
    }

    .fa {
        padding: 5px;
        width: 12px;
        text-align: center;
        text-decoration: none;
        border-radius: 30%;
        font-size: small;
      }
    }
    @media screen and (max-width: 1000px) and (min-width: 700px) {
  
        a.logo{
            text-align: justify;
            margin-left: 40%;
        }
      
        footer td.contact{
            width: 25%;
            font-size: 0.8em;
        }
    
        .fa {
            padding: 20px;
            width: 12px;
            text-align: center;
            text-decoration: none;
            border-radius: 30%;
            font-size: large;
          }
  }









.form-style {
    margin:10px auto;
    width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  .form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }
  .form-style .required{
    color:red;
  }
  .form-style input[type=submit], .form-style input[type=reset]{
    background: #4eb5f1;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
  }
  .form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: #4eb5f1;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  .form-style .field-textarea{
    height: 100px;
  }
  .form-style input[type=text], 
  .form-style input[type=email],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;  
  }
  .form-style .long{
    width: 100%;
  }
  .form-style input[type=text]:focus, 
  .form-style input[type=email]:focus,
  .form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
  }
  .error{
    color: #D8000C;
    background-color: #FFBABA;
  }